<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BugTracker</title>
</head>

<body>
    <h1>Ferramenta de Relato de Bugs</h1>
    <p>Preencha dos dados a seguir</p>
    <form action="POST">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <label for="howToReproduce">Como reproduzir o erro?</label>
        <input type="text" id="howToReproduce" name="howToReproduce">
        <label for="expectedOutput">A saída experada?</label>
        <input type="text" id="expectedOutput" name="expectedOutput">
        <label for="receivedOutput">A saída recebida?</label>
        <input type="text" id="receivedOutput" name="receivedOutput">
        <button>Enviar</button>
    </form>
</body>

</html>